[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
python-dotenv = "*"
pymysql = "*"
mysql-connector-python = "*"
cryptography = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
